<html>
    <head>
       <title>Registration Form</title>
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}

      <h1>Registration Form</h1>

      <form action='/result' method='post'>
            Email:<input type='text' name='email'>
            first_name:<input type='text' name='first_name'>
            last_name:<input type='text' name='last_name'>
            password:<input type='text' name='password'>
            confirm_password:<input type='text' name='confirm_password'>
            <input type='submit' value='create user'>
      </form>
    </body>
</html>