* {
    margin: 5px;
    padding: 0px;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    border: 5px solid black;
    padding: 5px;
}
#header h1{
    display: flex;
    justify-content: flex-start;
}

#post_a_message {
    margin: 40px;
    display: flex;
    justify-content: center;
}

#message_text {
    height: 100px;
    width: 1000px;
}

#comment_form{
    margin: 20px;
}
