<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Show</title>
</head>
<body>
  <h3>Name: <%= horse.name %></h3>
  <h3>Color: <%= horse.color %></h3>
  <h4>Age: <%= horse.age %></h4>
  <a href="/">Home</a>
  <a href="/edit/<%= horse._id %>">Edit</a>
</body>
</html>
