<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1> All of the Tasks</h1>
    <a href="task/new">Create new task</a>
     <% for (x in tasks) { %>
       <p>Title: <a href="task/<%= tasks[x]._id %>"><%= tasks[x].title %></a></p>
         <a href="edit/<%= tasks[x]._id %>">Edit Task</a></p>
         <form action="delete/<%= tasks[x]._id %>" method='post'>
           <p><input type="submit" value="Delete"></p>
         </form>
     <% } %>
  </body>
</html>
