<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1> All of the Horses</h1>
    <a href="horse/new">Create new horse</a>
     <% for (x in horses) { %>
       <p>Name: <a href="horse/<%= horses[x]._id %>"><%= horses[x].name %></a></p>
         <a href="edit/<%= horses[x]._id %>">Edit Horse</a></p>
         <form action="delete/<%= horses[x]._id %>" method='post'>
           <p><input type="submit" value="Delete"></p>
         </form>
     <% } %>
  </body>
</html>
