<html>
    <head>
       <title>Books</title>

    </head>
    <body>
      <h1>Welcome, {{name}}</h1>

      <h2>Recent Book Reviews:</h2>
        <!-- <div id= "book_reviews_list">
          <!-- ADJUST THIS SHIT -->
          <!-- {% for book in books %}
            <ul>
              <li>{{ book.title}}</li>
              <li>{{book.rating}}</li> -->
              <!-- for loop here -->
                <!-- <li>{{comment}} says: {{comment}}</li>
                <li>{{commentcreatedat}}</li> -->
              <!-- end for loop -->
            <!-- </ul>
          {% endfor %}
        </div> --> -->


        </div>
    </body>
</html>
